@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body {
  background-color: #111;
  color: #fff;
  font-family: 'Lacquer', cursive;
  margin: 0;
}

.container {
  margin-top: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.lead {
  font-size: 1.4rem;
}

h2 {
  font-size: 24px;
  color: #b71c1c;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
}

input:focus, textarea:focus {
  border-color: #b71c1c !important;
  box-shadow: 0 0 8px 3px rgba(183, 28, 28, 0.7) !important;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

th, td {
  padding: 12px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

img {
  max-width: 100%;
  height: auto;
  border: 5px solid #b71c1c;
}

.btn-danger {
  background-color: #b71c1c;
  border: none;
}

.btn-dark {
  background-color: #212121;
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  .container {
    margin-top: 10px;
    max-width: 95%;
  }

  .lead {
    font-size: 1.2rem;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  img {
    width: 100%;
    height: auto;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
